* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.calculator {
    flex-basis: 35%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    background-color: #000;
}

.row {
    flex: 1;
    display: flex;
}

.first-row .cell {
    background-color: #ddd;
    color: #000;
}

.cell {
    border-radius: 100px;
    font-size: 4em;
    font-family: arial;
    background-color: #444;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cell:last-child {
    background-color: #fa993f;
    color: #fff;
}

.cell:hover {
    background: #666;
}

.cell:active {
    background-color: #333;
}

.first-row .cell:hover,
.compound:hover {
    background-color: #eee;
}

.first-row .cell:active,
.compound:active {
    background-color: #bbb;
}

.cell:last-child:focus {
    background-color: #fbb371;
}

.cell:last-child:hover {
    background-color: #fbb371;
}

.cell:last-child:active {
    background-color: #f87f0d;
}

.compound {
    background-color: #ddd;
    color: #000;
    font-size: 40px;
    font-family: serif;
}

.display-numbers {
    padding-right: 4%;
    font-size: 4em;
    font-family: monospace;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.single-cell {
    flex-basis: 25%;
}

.double-cell {
    flex-basis: 50%;
}

.triple-cell {
    flex-basis: 75%;
}

@media only screen and (max-device-width: 480px) {
    .calculator {
        flex: 1;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .cell {
        font-size: 2em;
    }
}
