* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	margin: 0;
}

.calculator {
	width: 35%;
	height: 90vh;
	display: flex;
	flex-flow: column;
	margin: 2% 0;
	background-color: #000;
}

.row {
	width: 100%;
	display: flex;
	flex: 1;
}

.first-row .cell {
	background-color: #ddd;
	color: #000;
}

.cell {
	border-radius: 100px;
	font-size: 4em;
	font-family: arial;
	background-color: #444;
	margin: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.cell:last-child {
	background-color: #FA993F;
	color: #fff;
}

.cell:hover {
	background: #666;
}

.cell:active {
	background-color: #333;
}

.first-row .cell:hover {
	background-color: #eee;
}

.first-row .cell:active {
	background-color: #bbb;
}

.cell:last-child:focus {
	background-color: #fbb371;
}

.cell:last-child:hover {
	background-color: #fbb371;
}

.cell:last-child:active {
	background-color: #f87f0d;
}

.display-numbers {
	padding-right: 4%;
	font-size: 6em;
	font-family: monospace;
	color: #fff;
	background-color: #000;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.single-cell {
	width: 25%;
}

.double-cell {
	width: 50%;
	
}

.triple-cell {
	width: 75%;
	
}

@media only screen and (max-device-width: 500px) {
  .calculator {
    width: 100%;
    height: 100vh;
    margin: 0;
  }

  .cell {
  	margin: 3% 1.5%;
  }
}
